body { 
	background-image: url(../images/banner.jpg);
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #222;

}

html,
body,
.wrapper {
	height: 100%;
}

.wrapper {
    background: rgba(27, 27, 49, 0.77);
}

h1, h3 {
	color:white;
}

#root {
	height: 100%;
}

.main-content {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.search-outer {
	display: flex;
	position: relative;
}

.search-wrap {
	display: flex;
	height: 100%;
	align-items: center;
	background: rgba(0, 73, 97, 0.95);
}

.content-outer {
	width: 600px;
	margin: 0 auto;
}

.search-outer .input-text {
	border-radius: 30px;
	height: 50px;
	border: none;
	box-shadow: 0 0 4px #aaa;
	text-indent: 10px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.suggessions {
	margin: 15px auto 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
	justify-content: center;
}

.suggessions li {
	list-style: none;
	padding: 3px;
}

.input-submit {
	width: 32px;
	height: 32px;
	background: url(../images/search-icon.png);
	position: absolute;
	background-size: 100% 100%;
	border: navajowhite;
	background-repeat: no-repeat;
	text-indent: -99999px;
	right: 10px;
	top: 9px;
	cursor: pointer;
	transition: all ease 0.5s;
}

.suggessions li a {
	background: #f8f8f8;
	padding: 5px 14px;
	border-radius: 3px;
	text-transform: capitalize;
	color: #555;
	font-size: 13px;
	display: block;
	border: 1px solid #c6c6c6;
	transition: all ease 0.5s;
}

.input-submit:hover {
	opacity: 0.8;
	transition: all ease 0.5s;
}

.suggessions li a:hover {
	text-decoration: none;
	background: #e0e0e0;
	transition: all ease 0.5s;
}

/* Result page */

.result-row {
	display: flex;
	flex-wrap: wrap;
}
.result-row li {
	list-style: none;
	display: flex;
	padding: 5px;
	width: 20%;
}
.result-row li .result-box {
	padding: 10px;
	background: #fff;
	align-items: center;
	display: flex;position: relative;
padding-bottom: 60px;
}
.result-row li img {
	max-width: 100%;
}
.bar-btm-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	border-top: 1px solid #ccc;display: flex;
justify-content: space-between;padding: 7px 10px;
}
.dwnld-count {
	color: #777;

}
.act-icons-wrap a {
	color: #009bad;
	font-size: 14px;
padding: 3px 5px;
}

.loading-wrapper {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.result-row {
	padding: 0;
}

@media (max-width:767px) {
	.content-outer {
		width: 100%;
		padding: 0 15px;
	}
	.suggessions li a {
		padding: 2px 5px;
		font-size: 12px;
	}
	.result-row li {
		width: 50%;
	}
}